@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "PokemonGB";
  src: url("fonts/PKMN RBYGSC.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "PokemonGB";
}

body {
  height: 100dvh;
  width: 100dvw;
}
body h3 {
  font-size: clamp(12px, 2vw, 25px);
}
body section[class=app] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/b1/6d/90/b16d909fa4fbf4f57c549e8a956ae81c.jpg");
  padding: 5px;
}
body section[class=app] .pokedex {
  height: clamp(650px, 95dvw, 750px);
  width: clamp(320px, 95dvw, 450px);
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section[class=app] .pokedex .display-screen {
  height: 80%;
  width: 100%;
  background: rgba(82, 174, 223, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #c6ebff;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
}
body section[class=app] .pokedex .display-screen .results-screen {
  height: 100%;
  width: 100%;
  display: grid;
  grid-column: 1/5;
  grid-row: 1/4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
body section[class=app] .pokedex .display-screen .results-screen .not-found-animation {
  grid-column: span 3;
}
body section[class=app] .pokedex .display-screen .results-screen .not-found-animation img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
body section[class=app] .pokedex .display-screen .results-screen .not-found-message {
  grid-row: 2/3;
  grid-column: span 3;
  text-align: center;
  line-height: 35px;
}
body section[class=app] .pokedex .display-screen .results-screen .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 15px;
}
body section[class=app] .pokedex .display-screen .results-screen .loader div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
}
body section[class=app] .pokedex .display-screen .results-screen .grid-item {
  padding: 10px;
  height: 100%;
  width: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .sprite {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
}
body section[class=app] .pokedex .display-screen .results-screen .sprite img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper {
  grid-column: span 3;
  grid-row: span 2;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide {
  width: 100%;
  height: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide .glide__track {
  width: 100%;
  height: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide .glide__track .glide__slides {
  width: 100%;
  height: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide .glide__track .glide__slides .glide__slide {
  width: 100%;
  height: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(5px, 1vw, 15px);
  gap: 20px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows button {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  padding: 5px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows button:hover {
  cursor: pointer;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows button.left ion-icon {
  transform: rotate(180deg);
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows button ion-icon {
  display: inline-block !important;
  opacity: 1 !important;
  color: white;
  font-size: 25px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide .second-slide {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide .second-slide header h3 span {
  text-transform: uppercase;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide .second-slide .description p {
  line-height: 1.75;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article {
  height: 100%;
  width: 50%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article p {
  font-size: clamp(10px, 2dvw, 15px);
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article header {
  display: flex;
  align-items: center;
  justify-content: center;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article header img {
  height: 50px;
  width: 50px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article header h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(13px, 2vw, 15px);
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article .moves {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper {
  grid-column: span 2;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  height: 100%;
  width: 100%;
  grid-column: span 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .name {
  display: flex;
  align-items: center;
  gap: 5px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .name img {
  height: 35px;
  width: 35px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .name h3 {
  text-transform: capitalize;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .types {
  display: flex;
  gap: 10px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .types p {
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  padding: 10px;
}
body section[class=app] .pokedex .display-screen .search-wrapper {
  grid-row: 4/5;
  grid-column: span 3;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
body section[class=app] .pokedex .display-screen .search {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  position: realtive;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
}
body section[class=app] .pokedex .display-screen .search:hover {
  cursor: pointer;
}
body section[class=app] .pokedex .display-screen .search input {
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  background: transparent;
  caret-color: white;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}
body section[class=app] .pokedex .display-screen .search ion-icon {
  font-size: 40px;
  color: white;
  transition: all 0.2s ease;
}

/*# sourceMappingURL=style.css.map */
