@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "PokemonGB";
  src: url("fonts/PKMN RBYGSC.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "PokemonGB";
}

body {
  max-height: 100dvh;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}
body h3 {
  font-size: clamp(12px, 2vw, 25px);
}
body section[class=app] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/b1/6d/90/b16d909fa4fbf4f57c549e8a956ae81c.jpg");
  padding: 5px;
}
body section[class=app] .pokedex {
  width: clamp(320px, 95dvw, 450px);
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  transition: 0.5s ease;
}
body section[class=app] .pokedex.open {
  height: clamp(500px, 95dvw, 600px);
}
body section[class=app] .pokedex .case {
  position: absolute;
  height: 200px;
  width: 100%;
  background: #e3211f;
  z-index: 10;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  transform-origin: center;
}
body section[class=app] .pokedex .case .outer-ring {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 10px solid #900f0a;
  border-top: unset;
}
body section[class=app] .pokedex .case .outer-ring.top {
  top: 0;
}
body section[class=app] .pokedex .case .outer-ring.top.right {
  right: 0;
  transform: translate(50%, -50%);
}
body section[class=app] .pokedex .case .outer-ring.top.left {
  left: 0;
  transform: translate(-50%, -50%);
}
body section[class=app] .pokedex .case .outer-ring.top.inner {
  height: 125px;
  width: 125px;
}
body section[class=app] .pokedex .case .black-semicircle {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 125px;
  border-radius: 150px 150px 0px 0px;
  background: black;
  border-bottom: unset;
}
body section[class=app] .pokedex .case .black-semicircle .ui-semicircle {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 80px;
  border-radius: 150px 150px 0px 0px;
  border-bottom: unset;
  background: white;
  overflow: hidden;
}
body section[class=app] .pokedex .case .black-semicircle .ui-semicircle .button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 2px solid rgb(194, 194, 194);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03), 0px 0px 10px 15px rgba(0, 0, 0, 0.03);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
body section[class=app] .pokedex .case .black-semicircle .ui-semicircle .button:hover {
  cursor: pointer;
}
body section[class=app] .pokedex .case.top {
  bottom: 100%;
}
body section[class=app] .pokedex .case.bottom {
  top: 100%;
  transform: rotate(180deg);
}
body section[class=app] .pokedex .display-screen {
  height: 100%;
  width: 100%;
  background: rgba(82, 174, 223, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #c6ebff;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
}
body section[class=app] .pokedex .display-screen .results-screen {
  height: 100%;
  width: 100%;
  display: grid;
  grid-column: 1/5;
  grid-row: 1/4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
body section[class=app] .pokedex .display-screen .results-screen .not-found-animation {
  grid-column: span 3;
}
body section[class=app] .pokedex .display-screen .results-screen .not-found-animation img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
body section[class=app] .pokedex .display-screen .results-screen .not-found-message {
  grid-row: 2/3;
  grid-column: span 3;
  text-align: center;
  line-height: 35px;
}
body section[class=app] .pokedex .display-screen .results-screen .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 15px;
}
body section[class=app] .pokedex .display-screen .results-screen .loader div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
}
body section[class=app] .pokedex .display-screen .results-screen .grid-item {
  padding: 10px;
  height: 100%;
  width: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .sprite {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
}
body section[class=app] .pokedex .display-screen .results-screen .sprite img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper {
  grid-column: span 3;
  grid-row: span 2;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide {
  width: 100%;
  height: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide .glide__track {
  width: 100%;
  height: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide .glide__track .glide__slides {
  width: 100%;
  height: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide .glide__track .glide__slides .glide__slide {
  width: 100%;
  height: 100%;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(5px, 1vw, 15px);
  gap: 20px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows button {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  padding: 5px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows button:hover {
  cursor: pointer;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows button.left ion-icon {
  transform: rotate(180deg);
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .glide__arrows button ion-icon {
  display: inline-block !important;
  position: relative !important;
  opacity: 1 !important;
  color: white;
  font-size: 25px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article .evolutions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow-y: scroll;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article .evolutions .evolution {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article .evolutions .evolution:hover {
  cursor: pointer;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article .evolutions .evolution img {
  pointer-events: none;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article .evolutions .evolution p {
  pointer-events: none;
  text-transform: capitalize;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article .moves {
  width: 100%;
  overflow-y: scroll;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article header h3 {
  text-transform: capitalize;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article header h3 span {
  text-transform: uppercase;
}
body section[class=app] .pokedex .display-screen .results-screen .info-slide-wrapper .info-slide article .description p {
  line-height: 1.75;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper {
  grid-column: span 2;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  height: 100%;
  width: 100%;
  grid-column: span 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .name {
  display: flex;
  align-items: center;
  gap: 5px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .name img {
  height: 35px;
  width: 35px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .name h3 {
  text-transform: capitalize;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .types {
  display: flex;
  gap: 10px;
}
body section[class=app] .pokedex .display-screen .results-screen .basic-info-wrapper .basic-info .types p {
  text-transform: uppercase;
  font-size: clamp(9px, 1vw, 13px);
  border-radius: 5px;
  padding: 10px;
}
body section[class=app] .pokedex .display-screen .search-wrapper {
  grid-row: 4/5;
  grid-column: span 3;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  pointer-events: none;
}
body section[class=app] .pokedex .display-screen .search {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  pointer-events: auto;
  position: relative;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
}
body section[class=app] .pokedex .display-screen .search:hover {
  cursor: pointer;
}
body section[class=app] .pokedex .display-screen .search:has(input:not(:placeholder-shown)) {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
body section[class=app] .pokedex .display-screen .search input {
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  background: transparent;
  caret-color: white;
  padding: 10px;
  text-align: center;
  font-size: clamp(15px, 3vw, 24px);
}
body section[class=app] .pokedex .display-screen .search input:not(:placeholder-shown) + .search-suggestions-wrapper {
  height: 200px;
}
body section[class=app] .pokedex .display-screen .search ion-icon {
  font-size: 40px;
  color: white;
  transition: all 0.2s ease;
}
body section[class=app] .pokedex .display-screen aside {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  z-index: 20;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body section[class=app] .pokedex .display-screen aside .search-suggestions {
  position: relative;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: black;
  max-height: 200px;
  min-height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
body section[class=app] .pokedex .display-screen aside .search-suggestions div p {
  height: 100%;
  width: 100%;
  padding: 20px;
}
body section[class=app] .pokedex .display-screen aside .search-suggestions div:hover {
  cursor: pointer;
  background: rgba(255, 247, 247, 0.3);
}

/*# sourceMappingURL=style.css.map */
